<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colwyn.saf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tutorial2"></activity>
        <activity android:name=".WantedAdView" />
        <activity android:name=".addWanted" />
        <activity android:name=".wanted" />
        <activity android:name=".addReview" />
        <activity android:name=".reviews" />
        <activity android:name=".displayhelp" />
        <activity
            android:name=".messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chats"
            android:screenOrientation="portrait" />
        <activity
            android:name=".status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incomingorders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orderbreakdown"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myorders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ordercomplete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentOptions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".currency"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmorder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentdetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CatListingView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listingView"
            android:label="@string/title_activity_listing_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SellItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Selling"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".accountDetails"
            android:label="@string/title_activity_account_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>